 # 1. Загрузите данные об описаниях вакансий и соответствующих годовых зарплатах из файла salary-train.csv (либо его заархивированную версию salary-train.zip)

In [1]:
import pandas as pd


data = pd.read_csv('salary-train.zip')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 4 columns):
FullDescription       60000 non-null object
LocationNormalized    60000 non-null object
ContractTime          44418 non-null object
SalaryNormalized      60000 non-null int64
dtypes: int64(1), object(3)
memory usage: 1.8+ MB

In [2]:
data

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355
5,Sales and Marketing Assistant will provide adm...,Crawley,NaN,22500
6,Vacancy Ladieswear fashion Area Manager / Regi...,UK,permanent,32000
7,Reference: LR/JAN/**** Our client is one of th...,Bristol,permanent,30000
8,Sponsorship Manager London The Company A marke...,Central London,permanent,31500
9,"About Barclays Barclays moves, lends, invests ...",South East London,permanent,42499
10,Counter Sales Person c****k dependent on exper...,Banchory,contract,16000
11,Central London Competitive Salary Bonus & Be...,Gipsy Hill,permanent,47500
12,We are recruiting for a dynamic organisation b...,Wakefield,permanent,20000
13,Composite Design Engineer required for a perma...,Abingdon,permanent,34000
14,Working managing a team to maintain the Home b...,Northampton,NaN,15360
15,HCL Nursing are actively recruiting skilled re...,Bradford,permanent,39811
16,HGV / Commercial vehicle Customer service adv...,Northamptonshire,contract,23000
17,Break into Banking .NET Developer (C/Agile/Wi...,London,permanent,47500
18,Registered Nurse (RGN) is required to work wit...,Tiverton,NaN,24500
19,Can you drive effective analytical solutions f...,Uxbridge,NaN,32000
20,"nbsp; My client is an small, but high profile ...",London,permanent,45000
21,Specialist Clinical Negligence Practice based ...,Lancashire,permanent,20000
22,Job description: • Answer contacts promptly an...,UK,permanent,21000
23,YEAR **** TEACHER ROLE Servoca Education is cu...,Surrey,contract,34800
24,REGISTERED GENERAL NURSES RGN BOURNEMOUTH FO...,Bournemouth,NaN,24500
25,Salary: ****k ****k pa plus benefits Location...,Leeds,permanent,25000
26,A reputable and fast growing asbestos company ...,South Yorkshire,permanent,28000
27,SENIOR BUSINESS TRAVEL EXECUTIVE Salary: ****k...,Essex,permanent,27500
28,Our client is one of the leading digital sales...,London,permanent,18000
29,Capita is a FTSE100 listed company and run EME...,UK,permanent,40000
...,...,...,...,...
59970,Freelance Estimator Role (Holding Post) – ****...,Nottinghamshire,permanent,42500
59971,Development Worker Salary: **** **** per annu...,West London,permanent,20000
59972,Vehicle Purchaser / Car Sales Chesterfield ***...,Chesterfield,permanent,23750
59973,This is your chance to join a dynamic FTSE 100...,UK,permanent,30500
59974,We are looking for a passionate Chef de Partie...,South East London,NaN,20500
59975,Children Youth and Family Services Team Manage...,London,permanent,27682
59976,Experienced retail merchandisers required. Pre...,Oxford,NaN,12960
59977,A rare and exciting opportunity has arisen to ...,Dorset,permanent,50000
59978,You will be responsible for the delivery and c...,UK,permanent,22000
59979,"Automotive, Motor Trade Job: Service Advisor R...",Leeds,NaN,19500
59980,A Service in Norfolk are looking for a qualifi...,King's Lynn,NaN,32640
59981,"Software Quality Engineer TickIT, CMMi, AQAP ...",Bedfordshire,permanent,45000
59982,Job Description Our client is a London based i...,London,permanent,68750
59983,Hays Education has recently experienced an inc...,Weston-Super-Mare,permanent,18720
59984,Internet Security Software Engineer Cambridge ...,Cambridge,permanent,50000
59985,Front End Web Designer / Front End Web Develop...,Preston,NaN,20000
59986,Our client a large NHS Foundation Trust is s...,Basingstoke,contract,54000
59987,Salary: &pound**** &nbsp&pound**** / Year Loca...,Southampton,permanent,28000
59988,The Position: Sous Chef Pastry The Candidate ...,Cheshire,NaN,21000
59989,Electrical Design Engineer required for a Cons...,Leeds,permanent,30000
59990,Project Manager Defence / Electronics A great...,Andover,permanent,42000
59991,Our client is a growing SME client based in We...,West Sussex,permanent,37000
59992,"DATA ANALYST Canary Wharf, London 69 Month Con...",London,contract,25920
59993,Bmsl require Labourer with ENHANCED PRISON CLE...,London,NaN,13440
59994,LONGHURST HAVELOK HOMES LIMITED REGISTERED RES...,Grimsby,NaN,12585
59995,"As a result of continued growth, First Class S...",Whitley Bay,contract,26400
59996,PHP / MVC Web Developer MacclesfieldCirca ***...,Macclesfield,permanent,26000
59997,"Staff Nurse, Nursing Home, Baldock White Recru...",Baldock,NaN,24500
59998,This is one of the best agency side opportunit...,The City,permanent,65000
59999,Must have CSCS card must have asbestos awarene...,London,NaN,23040

In [3]:
test = pd.read_csv('salary-test-mini.csv')

# 2. Проведите предобработку:

* Приведите тексты к нижнему регистру (text.lower())

In [4]:
FullDescription = data.FullDescription.str.lower()
testFullDescription = test.FullDescription.str.lower()

* Замените все, кроме букв и цифр, на пробелы — это облегчит дальнейшее разделение текста на слова. Для такой замены в строке text подходит следующий вызов: re.sub('[^a-zA-Z0-9]', ' ', text). Также можно воспользоваться методом replace у DataFrame, чтобы сразу преобразовать все тексты: train['FullDescription'] = train['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [5]:
FullDescription = FullDescription.replace('[^a-zA-Z0-9]', ' ', regex = True)
testFullDescription = testFullDescription.replace('[^a-zA-Z0-9]', ' ', regex = True)

* Примените TfidfVectorizer для преобразования текстов в векторы признаков. Оставьте только те слова, которые встречаются хотя бы в 5 объектах (параметр min_df у TfidfVectorizer)

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

Tfid = TfidfVectorizer(min_df=5)
FullDescription = Tfid.fit_transform(FullDescription)
FullDescription

<60000x22861 sparse matrix of type '<class 'numpy.float64'>'
	with 8365759 stored elements in Compressed Sparse Row format>

In [7]:
testFullDescription = Tfid.transform(testFullDescription)
testFullDescription

<2x22861 sparse matrix of type '<class 'numpy.float64'>'
	with 300 stored elements in Compressed Sparse Row format>

* Замените пропуски в столбцах LocationNormalized и ContractTime на специальную строку 'nan'. Код для этого был приведен выше

In [8]:
data['LocationNormalized'].fillna('nan', inplace=True)
data['ContractTime'].fillna('nan', inplace=True)
test['LocationNormalized'].fillna('nan', inplace=True)
test['ContractTime'].fillna('nan', inplace=True)

* Примените DictVectorizer для получения one-hot-кодирования признаков LocationNormalized и ContractTime

In [9]:
from sklearn.feature_extraction import DictVectorizer


enc = DictVectorizer()
Location_Contract = enc.fit_transform(data[['LocationNormalized', 'ContractTime']].to_dict('records'))
Location_Contract

<60000x1766 sparse matrix of type '<class 'numpy.float64'>'
	with 120000 stored elements in Compressed Sparse Row format>

In [10]:
test_Location_Contract = enc.transform(test[['LocationNormalized', 'ContractTime']].to_dict('records'))
test_Location_Contract

<2x1766 sparse matrix of type '<class 'numpy.float64'>'
	with 4 stored elements in Compressed Sparse Row format>

* Объедините все полученные признаки в одну матрицу "объекты-признаки". Обратите внимание, что матрицы для текстов и категориальных признаков являются разреженными. Для объединения их столбцов нужно воспользоваться функцией scipy.sparse.hstack

In [11]:
from scipy.sparse import hstack


X = hstack([Location_Contract, FullDescription])
Y = data['SalaryNormalized']
test_X = hstack([test_Location_Contract, testFullDescription])

# 3. Обучите гребневую регрессию с параметрами alpha=1 и random_state=241. Целевая переменная записана в столбце SalaryNormalized

In [12]:
from sklearn.linear_model import Ridge


reg = Ridge(alpha=1, random_state=241)
reg.fit(X, Y)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=241, solver='auto', tol=0.001)

# 4. Постройте прогнозы для двух примеров из файла salary-test-mini.csv. Значения полученных прогнозов являются ответом на задание. Укажите их через пробел

In [13]:
reg.predict(test_X)

array([56555.61500155, 37188.32442618])

**Ответ:**


56555.62 37188.32